




/*
     FILE ARCHIVED ON 11:27:28 Dec 20, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:29:36 Feb 11, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
.inline-block {
    display: inline-block;
    vertical-align: baseline;
}
li.full-width {
    width: auto;
}
li div div.inline-block a img {
    text-indent: 0;
}   
img {
    -ms-interpolation-mode: bicubic;
}   
